body {
   height: 100vh;
   margin: 0;
   padding: 0;
   
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* .site {
   display: flex;
   flex-direction: column;
} */

.upper-body-image {
   width: 600px;
   height: auto;
}

button {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   border: none;
   border-radius: 8px;
   background: #3882f6;
   padding: 8px 16px;
   color: #f9faf8;
   font-weight: bold;
}

a {
   text-decoration: none;
   font-size: 18px;
   color: #adb5bd;
}

ul {
   list-style-type: none;

   display: flex;
   flex-direction: row;
   gap: 24px;
}

.header, .upper-body {
   background-color: #1f2937;
}

.header, .upper-body, .body, .quote, .footer {
   padding-left: 128px;
   padding-right: 128px;
}



.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-size: 24px;
   font-weight: 700;
   color: #f9faf8;
}



.upper-body {
   display: flex;
   flex-direction: row;
   padding-top: 128px;
   padding-bottom: 128px;
   justify-content: space-between;

   flex-wrap: wrap;
}


.text {
   /* display: flex;
   flex-direction: column;
    */
   /* gap: 16px; */
   
   max-width: 75vh;
}

.text-header {
   font-size: 48px;
   font-weight: bold;
   color: #f9faf8;

   max-width: 50vh;
}

.text-main {
   font-size: 18px;
   color: #adb5bd;
   margin-top: 16px;
}

.sign-up {
   display: flex;
   margin-top: 16px;
   margin-bottom: 32px;
}